<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974368926356-emq7rktlk0hn7kjovnvbjb2gjlijfouj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974368926356-emq7rktlk0hn7kjovnvbjb2gjlijfouj</string>
	<key>API_KEY</key>
	<string>AIzaSyCDo-HjW2FbjVegm0d0JEDZ_E-Hv0Syc4s</string>
	<key>GCM_SENDER_ID</key>
	<string>974368926356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blist</string>
	<key>PROJECT_ID</key>
	<string>blist-75310</string>
	<key>STORAGE_BUCKET</key>
	<string>blist-75310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974368926356:ios:07f595541131f1b905a281</string>
</dict>
</plist>